---
// src/pages/index.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/section/Section.astro";
import { siteData } from "@/content/siteData";
---
<BaseLayout title="Home" description={siteData.description}>
  <main class="flex-1">
    <!-- Hero Section -->
    <Section
      variant="HeroVariant"
      title="Welcome"
      description="Static hero without collection"
    />

    <Section
      collection="blog"
      variant="BlogVariant"
      title="Latest Articles"
      columns={2}
    />

    <Section
      collection="services"
      variant="GridVariant"
      title="Our Services"
      columns={3}
      gap="lg"
    />

    <Section
      collection="authors"
      variant="GridVariant"
      title="Our Authors"
      columns={3}
      gap="lg"
    />

    <Section
      collection="portfolio"
      variant="ListVariant"
      title="Recent Projects"
    />

    <Section
      collection="testimonials"
      variant="MasonryVariant"
      title="What People Say"
    />

     <!-- Contact Section -->
  <Section
    collection="contact-us"
    variant="ContactVariant"
    title="Get In Touch"
    description="We'd love to hear from you"
    columns={2}
  />
  </main>
</BaseLayout>
