---
import "../styles/global.css";
import HeadTags from "./HeadTags.astro";
import SEO from "./SEO.astro";
import Theme from "./Theme.astro";
import BodyTags from "./BodyTags.astro";

export interface Props {
  [key: string]: any;
}

const { ...seoProps } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <Theme />
    <SEO title={seoProps.title} {...seoProps} />
    <HeadTags />

    {seoProps.noindex && <meta name="robots" content="noindex,nofollow" />}
  </head>

  <body class="antialiased">
    <BodyTags />

    <div id="app" class="min-h-screen flex flex-col">
      <slot />
    </div>
  </body>
</html>
